parameter_defaults:
    ControlFixedIPs: [{'ip_address':'192.168.24.150'}]
    PublicVirtualFixedIPs: [{'ip_address':'10.0.0.150'}]
    InternalApiVirtualFixedIPs: [{'ip_address':'172.17.1.150'}]
    StorageVirtualFixedIPs: [{'ip_address':'172.17.3.150'}]
    StorageMgmtVirtualFixedIPs: [{'ip_address':'172.17.4.150'}]
    RedisVirtualFixedIPs: [{'ip_address':'172.17.1.151'}]
